 <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io(window.location.hostname);
 var limit  = 500;
  setInterval(function() {
	  var startTime = Date.now();
	  if(limit > 0 ){
		  socket.emit('ping');
		  socket.on('pong', function() {
		    latency = Date.now() - startTime;
		    console.log(latency);
		  });
		  limit = limit -1 ;
	  }

	}, 10);

</script>
<b>nice fred!!1</b>